<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
  <div class="container">
    <h1><%= title %></h1>
    
    <% if(scopes.includes('view:account')) { %>
      <div class="row">
        <a href='/account'>account details</a>
      </div>
    <%}%>

    <% if(scopes.includes('change:address')) { %>
      <div class="row">
        <a href='/account/address'>change address</a>
      </div>
    <%}%>

    <% if(scopes.includes('replace:sim')) { %>
      <div class="row">
        <a href='/account/sim'>swap sim</a>
      </div>   
    <%}%>

    </div>
  </body>
</html>
