<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <h1><%= title %></h1>
      <div class="row">
        <div class="col">Invite link emailed...</div>
      </div>
      <div class="row">
        <div class="col"><%= invite.link %></div>
      </div>
     </div>
  </body>
</html>
